<div class="new_comment">
    <%= form_with(model: [@wine_article, @comment], local: true) do |form| %>
    <div class="errors">
      <%= render "devise/shared/error_messages", resource: @comment %>
    </div>

    <div>  
      <%= form.text_area :text, placeholder: "コメントする", class: "new_comment_value", maxlength: "100", rows: 10, cols: 58 %>
    </div>
    <div class="submit_position">
      <%= form.submit "コメントする", class: "comment_submit"%>
    </div>
  <% end %>
</div>