/* 詳細ページのコメント機能関連(wine_article.cssのものも一部使用) */
.field_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.comment_field{
  width: 40vw;
  height: 70vh;
  border: 1px solid black;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: aliceblue;
  text-align: left;
}

.comment_index{
  width: 40vw;
  height: 97.7vh;
  border: 1px solid black;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: aliceblue;
  text-align: left;
}

.link_main{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.comment_link{
  font-size: 20px;
}

.comment_edit{
  font-size: 20px;
  margin-top: 5px;
}

.comment_destroy{
  font-size: 20px;
  margin-top: 5px;
}

/* コメント新規投稿画面 */
.new_comment{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.new_comment_value{
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
}

.submit_position{
  text-align: center;
}

.comment_submit{
  width: 130px;
  height: 40px;
  margin-top: 10px;
  font-weight: bold;
}