/* header */
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a888be;
  position: relative;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 25vh;
  background-color: #c5b2d6;
  color: #b50099;
  padding: 40px 0;
  border: 1px solid black;
  font-weight: bold;
  font-size: 30px;
}

.select_links{
  position: absolute;
  top: 20px;
  right: 150px;
}

.title_link{
  text-decoration: none;
}

.field_with_errors{
  text-align: center;
}

#error_explanation{
  display: inline-block;
  width: 500px;
  height: auto;
  border: 1px solid black;
  background-color: white;
}

.posts{
  position: absolute;
  top:40px;
  right: 100px;
}

.post{
  width: 20px;
  height: 20px;
  margin-left: 20px;
  text-decoration: none;
  font-size: 20px;
}

/* footer */
.boss_footer{
  display: flex;
  justify-content: center;
  background-color: #a888be;
}

.footer_logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 36vh;
  background-color: azure;
  font-weight: bold;
  border: 1px solid black;
}