/* indexページ */
.index_navi{
  padding: 10px 0 0 20px;
  font-size: 30px;
  font-weight: bold;
}

.article_area{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 10px 0 10px 20px;
}

.image_set{
  width: 225px;
  height: 300px;
  object-fit: contain;
  margin-top: 5px;
}

.article_info{
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  color: black;
}

.link1{
  text-decoration: none;
}

.index_deco{
  background-color: #a888be;
}

.index_form{
  background-color: #bc917f;
  width: 500px;
  height: 200px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.index_form2{
  background-color: #dddddd;
  width: 500px;
  height: 250px;
  margin: 0 auto;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.caution{
  line-height: 1.5;
  padding: 0 5px 0 10px;
}

/* newページ */
.wine_article_body{
  background-color: #a888be;
}

.wine_article_contents{
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 500px;
  background-color: #bc917f;
  border: 1px solid black;
}

.navi{
  margin-bottom: 5px;
  font-weight: bold;
}

.wine_name{
  width: 350px;
  padding: 10px;
}

.wine_kana{
  width: 350px;
  padding: 10px;
}

.wine_type{
  height: 40px;
  padding: 10px;
}

.wine_taste{
  width: 250px;
  height: 40px;
  padding: 10px;
}

.price{
  width: 350px;
  padding: 10px;
}

.shop{
  width: 350px;
  padding: 10px;
}

.title_new{
  width: 350px;
  padding: 10px;
}

.comment_new{
  width: 350px;
  height: 150px;
  padding: 10px;
}

.article_button_field{
  margin-bottom: 10px;
  text-align: center;
}

.article_button{
  padding: 5px;
}